{% extends "wrapperBase.html" %}
{% block title %}Feed{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/feed.css') }}", rel="stylesheet">
{% endblock %}

{% block wrapper %}
	{% with messages = get_flashed_messages() %}
			{% if messages %}
				<span id="successMessage">{{ messages[0] }} </span>
			{% endif %}
	{% endwith %}

	<main id="board-grid">
		{% for message in messageList %}
			<a href="{{ url_for('renderPost', postID=message.id) }}">
				<figure class="message-frame">
					{% if message.image_id %}
						<img src="{{ url_for('static', filename='images/' + message.image_id) }}"/>
					{% endif %}
					<figcaption>
						<header>
							<h3> {{ message.title | title }} </h3>
							<p class="author"> {{message.author}} </p>
						</header>
						<main>
							{% for messageLine in message.content|formatPostContent %}
								{% if messageLine.content %}
									<p class="message {% if messageLine.green %}green-text{% endif %}" > {{ messageLine.content }} </p>
								{% else %}
									<br>
								{% endif %}
							{% endfor %}
						</main>
						<footer>
							<p class="commentCount"> {{ message.commentCount }} comments </p>
						</footer>
					</figcaption>
				</figure>
			</a>
		{% endfor %}
	</main>
{% endblock %}
