{% extends "wrapperBase.html" %}
{% block title %}Feed{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/post.css') }}", rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/upload.css') }}">
{% endblock %}

{% block wrapper %}
	{% with messages = get_flashed_messages() %}
			{% if messages %}
				<span id="successMessage">{{ messages[0] }} </span>
			{% endif %}
	{% endwith %}

	{% if post.image_id %}
		<img id="postImage" src="{{ url_for('static', filename='images/' + post.image_id) }}"/>
	{% endif %}
	<div class="threadPost" id="post">
		<h3> {{ post.title }} </h3>
		<p class="author"> {{ post.author }} </p>
		<p class="message"> {{ post.content }} </p>
	</div>

	{% for comment in comments %}
		<div class="threadPost">
			<p class="author"> {{ comment.author }} </p>
			<p class="message"> {{ comment.content }} </p>
		</div>
	{% endfor %}

	<hr>

	<div class="form-wrapper">
		<form method="POST" action="">
		  {{ form.csrf_token }}

		  <fieldset class="form-field">{{ form.author.label }} {{ form.author}}
			{% if form.author.errors %}
			  <ul class="errors">
				{% for error in form.author.errors %}
				  <li class="error">
					  <i class="fas fa-exclamation"></i> <span class="error-message">{{ error }}</span>
				  </li>
				{% endfor %}
			  </ul>
			{% endif %}
		  </fieldset>

		  <fieldset id="message-field" class="form-field">{{ form.comment.label }} {{ form.comment }}
			{% if form.comment.errors %}
			  <ul class="errors">
				{% for error in form.comment.errors %}
				  <li class="error">
					  <i class="fas fa-exclamation"></i> <span class="error-message">{{ error }}</span>
				  </li>
				{% endfor %}
			  </ul>
			{% endif %}
		  </fieldset>

		{{ form.submit }}

		</form>
	</div>

{% endblock %}
